flows_ImWatchingYou.json
[{"id":"690dda87.289b9c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9d4d76d.bce99","type":"ui_tab","z":"","name":"Johns","icon":"dashboard","order":"1"},{"id":"de19c66d.109de","type":"ui_template","z":"690dda87.289b9c","tab":"b9d4d76d.bce99","name":"Main Door (S3)","group":"Main Door (S3) OOS","order":"32","format":"<div class=\"momentary2\">\n   <md-button\n    class=\"vibrate filled bigfont\"\n    ng-style=\"{background: !msg.payload ? 'red' : 'green' }\">\n    Tickle Me softly</md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary2').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary2').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"x":160,"y":160,"wires":[["fc3d7dd4.b52da","2a8cdccb.bc4b94"]]},{"id":"fc3d7dd4.b52da","type":"debug","z":"690dda87.289b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":500,"wires":[]},{"id":"97e8b68f.3d1258","type":"ui_template","z":"690dda87.289b9c","tab":"b9d4d76d.bce99","name":"South 2","group":"South 2","order":"31","format":"<div class=\"momentary1\">\n   <md-button\n    class=\"vibrate filled bigfont\"\n    ng-style=\"{background: !msg.payload ? 'red' : 'green' }\">\n    Finger Me!</md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary1').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary1').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"x":140,"y":100,"wires":[["fc3d7dd4.b52da","ea29dcf9.ebaad"]]},{"id":"4791fd46.0b89ec","type":"ui_template","z":"690dda87.289b9c","tab":"b9d4d76d.bce99","name":"Gate","group":"Gate","order":"33","format":"<div class=\"momentary3\">\n   <md-button\n    class=\"vibrate filled bigfont\"\n    ng-style=\"{background: !msg.payload ? 'red' : 'green' }\">\n    OOooo baby....</md-button>\n</div>\n\n<script>\n\n(function($scope) {\n    \n$('.momentary3').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": true});\n});\n\n$('.momentary3').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": false});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"x":130,"y":220,"wires":[["fc3d7dd4.b52da","b76042e1.4f3008"]]},{"id":"e54f2b7f.617088","type":"ui_template","z":"690dda87.289b9c","d":true,"tab":"b9d4d76d.bce99","name":"testicling","group":"hello world","order":"10","format":"{{msg.payload}}</br> Darryl is a bum","storeOutMessages":true,"fwdInMessages":true,"x":720,"y":520,"wires":[[]]},{"id":"ae1a6bb9.1041b","type":"moment","z":"690dda87.289b9c","d":true,"name":"","topic":"","input":"","inputType":"date","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"America/New_York","x":720,"y":580,"wires":[[]]},{"id":"f1c47b50.2103d8","type":"humanizer","z":"690dda87.289b9c","d":true,"name":"","input":"","x":710,"y":440,"wires":[["e54f2b7f.617088"]]},{"id":"ea29dcf9.ebaad","type":"rpi-gpio out","z":"690dda87.289b9c","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":500,"y":100,"wires":[]},{"id":"2a8cdccb.bc4b94","type":"rpi-gpio out","z":"690dda87.289b9c","name":"","pin":"15","set":true,"level":"0","freq":"","out":"out","x":500,"y":160,"wires":[]},{"id":"b76042e1.4f3008","type":"rpi-gpio out","z":"690dda87.289b9c","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":500,"y":220,"wires":[]}]