flows_ImWatchingYou.json
[{"id":"690dda87.289b9c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9d4d76d.bce99","type":"ui_tab","z":"","name":"Johns","icon":"dashboard","order":"1"},{"id":"de19c66d.109de","type":"ui_template","z":"690dda87.289b9c","tab":"b9d4d76d.bce99","name":"Door 2","group":"Door 2","order":"32","format":"<md-button\n    class=\"vibrate filled bigfont\"\n    ng-style=\"{background: !msg.payload ? 'red' : 'green' }\"\n    ng-touchstart=\"send({payload: true})\"\n    ng-mousedown=\"send({payload: true})\"\n    ng-touchend=\"({payload: false})\"\n    ng-mouseup=\"send({payload: false})\"\n    > \n    </md-button>","storeOutMessages":false,"fwdInMessages":false,"x":130,"y":160,"wires":[["fc3d7dd4.b52da","2a8cdccb.bc4b94"]]},{"id":"fc3d7dd4.b52da","type":"debug","z":"690dda87.289b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":500,"wires":[]},{"id":"97e8b68f.3d1258","type":"ui_template","z":"690dda87.289b9c","tab":"b9d4d76d.bce99","name":"Door 1","group":"Door 1","order":"31","format":"<md-button\n    class=\"vibrate filled bigfont\"\n    ng-style=\"{background: !msg.payload ? 'red' : 'green' }\"\n    ng-touchstart=\"send({payload: true})\"\n    ng-mousedown=\"send({payload: true})\"\n    ng-touchend=\"({payload: false})\"\n    ng-mouseup=\"send({payload: false})\"\n    > \n    </md-button>","storeOutMessages":false,"fwdInMessages":false,"x":130,"y":100,"wires":[["fc3d7dd4.b52da","ea29dcf9.ebaad","764eb506.8f8754"]]},{"id":"4791fd46.0b89ec","type":"ui_template","z":"690dda87.289b9c","tab":"b9d4d76d.bce99","name":"Door 3","group":"Door 3","order":"33","format":"<md-button\n    class=\"vibrate filled bigfont\"\n    ng-style=\"{background: !msg.payload ? 'red' : 'green' }\"\n    ng-touchstart=\"send({payload: true})\"\n    ng-mousedown=\"send({payload: true})\"\n    ng-touchend=\"({payload: false})\"\n    ng-mouseup=\"send({payload: false})\"\n    > \n    </md-button>\n    \n<x \nclass=comment\n//ng-touchstart=\"send(on)\"\n//   ng-mousedown=\"send(on)\"\n//   ng-touchend=\"send(off)\"\n//   ng-mouseup=\"send(off)\"\n>","storeOutMessages":false,"fwdInMessages":false,"x":130,"y":220,"wires":[["fc3d7dd4.b52da","b76042e1.4f3008"]]},{"id":"5bd21f32.493758","type":"ui_template","z":"690dda87.289b9c","tab":"b9d4d76d.bce99","name":"Door 4","group":"Door 4","order":"34","format":"<md-button\n    class=\"vibrate filled bigfont\"\n    ng-style=\"{background: !msg.payload ? 'red' : 'green' }\"\n    ng-touchstart=\"send({payload: true})\"\n    ng-mousedown=\"send({payload: true})\"\n    ng-touchend=\"({payload: false})\"\n    ng-mouseup=\"send({payload: false})\"\n    > \n    </md-button>\n    \n<x \nclass=comment\n//ng-touchstart=\"send(on)\"\n//   ng-mousedown=\"send(on)\"\n//   ng-touchend=\"send(off)\"\n//   ng-mouseup=\"send(off)\"\n>","storeOutMessages":false,"fwdInMessages":false,"x":130,"y":280,"wires":[["fc3d7dd4.b52da","e8154e5b.425b4"]]},{"id":"a4929d8c.856938","type":"ui_template","z":"690dda87.289b9c","tab":"b9d4d76d.bce99","name":"Door 5","group":"Door 5","order":"35","format":"<md-button\n    class=\"vibrate filled bigfont\"\n    ng-style=\"{background: !msg.payload ? 'red' : 'green' }\"\n    ng-touchstart=\"send({payload: true})\"\n    ng-mousedown=\"send({payload: true})\"\n    ng-touchend=\"({payload: false})\"\n    ng-mouseup=\"send({payload: false})\"\n    > \n    </md-button>\n    \n<x \nclass=comment\n//ng-touchstart=\"send(on)\"\n//   ng-mousedown=\"send(on)\"\n//   ng-touchend=\"send(off)\"\n//   ng-mouseup=\"send(off)\"\n>","storeOutMessages":false,"fwdInMessages":false,"x":130,"y":340,"wires":[["fc3d7dd4.b52da","425a129a.330ec4"]]},{"id":"e54f2b7f.617088","type":"ui_template","z":"690dda87.289b9c","d":true,"tab":"b9d4d76d.bce99","name":"testicling","group":"hello world","order":"10","format":"{{msg.payload}}</br> Darryl is a bum","storeOutMessages":true,"fwdInMessages":true,"x":720,"y":520,"wires":[[]]},{"id":"ae1a6bb9.1041b","type":"moment","z":"690dda87.289b9c","d":true,"name":"","topic":"","input":"","inputType":"date","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"America/New_York","x":720,"y":580,"wires":[[]]},{"id":"f1c47b50.2103d8","type":"humanizer","z":"690dda87.289b9c","d":true,"name":"","input":"","x":710,"y":440,"wires":[["e54f2b7f.617088"]]},{"id":"ea29dcf9.ebaad","type":"rpi-gpio out","z":"690dda87.289b9c","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":500,"y":100,"wires":[]},{"id":"2a8cdccb.bc4b94","type":"rpi-gpio out","z":"690dda87.289b9c","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":500,"y":160,"wires":[]},{"id":"b76042e1.4f3008","type":"rpi-gpio out","z":"690dda87.289b9c","name":"","pin":"15","set":true,"level":"0","freq":"","out":"out","x":500,"y":220,"wires":[]},{"id":"e8154e5b.425b4","type":"rpi-gpio out","z":"690dda87.289b9c","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","x":500,"y":280,"wires":[]},{"id":"425a129a.330ec4","type":"rpi-gpio out","z":"690dda87.289b9c","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":500,"y":340,"wires":[]},{"id":"764eb506.8f8754","type":"ui_chart","z":"690dda87.289b9c","tab":"b9d4d76d.bce99","name":"Door 1","group":"","order":1,"interpolate":"linear","nodata":"Door","removeOlder":1,"removeOlderUnit":"604800","x":270,"y":60,"wires":[[],[]]}]